<!--            About Us-->
<section class="about-us-section" id="about-us">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">о компании</h2>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJfROKlCFlemnhSYHw3OId9WSsW0i0t-foime2v9TLmLLFqg/viewform" class="btn-main">Связаться с нами <img class="btn-main__img" src="assets/images/arrow.svg" alt=""></a>

        </div>

        <div class="section-content">
            <h4 class="section-content__title">USAgo – виза в США легко.</h4>
<!--            <div class="tabs">-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--                <span></span>-->
<!--            </div>-->
            <ul class="section-content__list">
                <li class="section-content__list-item">Мы консалтинговая компания, являемся дочерним
                    предприятием
                    корпорации <strong>Group Desk Inc</strong>.</li>
                <li class="section-content__list-item">
                    Центральный офис компании находится в Сан-Франциско (Калифорния).
                    Дата основанная 2009 год.
                </li>
                <li class="section-content__list-item">
                    Основной вид деятельности <strong>USA GO</strong> является организация туров, помощь в оформление
                    документов, консультация туристов в оформление виз в США всех категорий.
                </li>
            </ul>
        </div>
        <div class="section-block">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJfROKlCFlemnhSYHw3OId9WSsW0i0t-foime2v9TLmLLFqg/viewform" class="btn-main">Связаться с нами <img class="btn-main__img" src="assets/images/arrow.svg" alt=""></a>

        </div>
    </div>
</section>
<!--            About Us-->