<!--            Our Contacts-->
<section class="contacts-section" id="contacts">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Наши контакты</h2>

        </div>
        <div class="section-content">
            <div class="form-info">
                <form class="form" action="post">
                    <div class="name-input input">
                        <input type="text" placeholder="Ваше имя ">
                    </div>
                    <div class="phone-input input">
                        <input type="text" placeholder="Номер телефона">
                    </div>
                    <a href="#" class="btn-form">Связаться с нами <img class="btn-form__img" src="assets/images/arrow.svg" alt=""></a>
                </form>

                <div class="contact-info">
                    <div class="contact-info__inner">
                        <img class="contact-info__img" src="assets/images/mail-blue.svg" alt="">
                        <a class="contact-info__link" href="mailto:xxxxxxx@activenet.com">
                            xxxxxxx@activenet.com</a>
                    </div>
                    <div class="contact-info__inner">
                        <img class="contact-info__img" src="assets/images/map-point.svg" alt="">
                        <a class="contact-info__link" href="">
                            <span>Адрес офиса:</span><br>
                            1426 Fillmore Street, Suite 300, San Francisco, CA 94115 USA</a>
                    </div>
                </div>
            </div>
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="https://www.instagram.com/usago24" class="social-list__item-link" target="_blank">
                        <img class="item-link-img" src="assets/images/ins-blue.svg" alt="">
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://www.facebook.com/UsaGo24" class="social-list__item-link" target="_blank">
                        <img class="item-link-img" src="assets/images/fb-blue.svg" alt="">
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__item-link" target="_blank">
                        <img class="item-link-img" src="assets/images/whatsapp-blue.svg" alt="">
                    </a>
                </li>
            </ul>
            <div class="section-block">
                <a href="#" class="privacy-policy">Политика и условия конфиденциальности</a>
            </div>
        </div>
    </div>
</section>
<!--            Our Contacts-->